# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/

# PyBuilder
target/

# PyCharm
.idea/
.env/pyvenv.cfg
.env/bin/activate
.env/bin/activate.csh
.env/bin/activate.fish
.env/bin/Activate.ps1
.env/bin/docutils
.env/bin/easy_install
.env/bin/easy_install-3.9
.env/bin/f2py
.env/bin/f2py3
.env/bin/f2py3.9
.env/bin/keyring
.env/bin/markdown-it
.env/bin/normalizer
.env/bin/pip
.env/bin/pip3
.env/bin/pip3.9
.env/bin/pkginfo
.env/bin/pygmentize
.env/bin/python
.env/bin/python3
.env/bin/python3.9
.env/bin/rst2html.py
.env/bin/rst2html4.py
.env/bin/rst2html5.py
.env/bin/rst2latex.py
.env/bin/rst2man.py
.env/bin/rst2odt_prepstyles.py
.env/bin/rst2odt.py
.env/bin/rst2pseudoxml.py
.env/bin/rst2s5.py
.env/bin/rst2xetex.py
.env/bin/rst2xml.py
.env/bin/rstpep2html.py
.env/bin/twine
.env/bin/wheel
.env/share/doc/networkx-3.0/LICENSE.txt
.env/share/doc/networkx-3.0/examples/README.txt
.env/share/doc/networkx-3.0/examples/3d_drawing/mayavi2_spring.py
.env/share/doc/networkx-3.0/examples/3d_drawing/plot_basic.py
.env/share/doc/networkx-3.0/examples/3d_drawing/README.txt
.env/share/doc/networkx-3.0/examples/algorithms/hartford_drug.edgelist
.env/share/doc/networkx-3.0/examples/algorithms/plot_beam_search.py
.env/share/doc/networkx-3.0/examples/algorithms/plot_betweenness_centrality.py
.env/share/doc/networkx-3.0/examples/algorithms/plot_blockmodel.py
.env/share/doc/networkx-3.0/examples/algorithms/plot_circuits.py
.env/share/doc/networkx-3.0/examples/algorithms/plot_davis_club.py
.env/share/doc/networkx-3.0/examples/algorithms/plot_dedensification.py
.env/share/doc/networkx-3.0/examples/algorithms/plot_iterated_dynamical_systems.py
.env/share/doc/networkx-3.0/examples/algorithms/plot_krackhardt_centrality.py
.env/share/doc/networkx-3.0/examples/algorithms/plot_parallel_betweenness.py
.env/share/doc/networkx-3.0/examples/algorithms/plot_rcm.py
.env/share/doc/networkx-3.0/examples/algorithms/plot_snap.py
.env/share/doc/networkx-3.0/examples/algorithms/plot_subgraphs.py
.env/share/doc/networkx-3.0/examples/algorithms/README.txt
.env/share/doc/networkx-3.0/examples/algorithms/WormNet.v3.benchmark.txt
.env/share/doc/networkx-3.0/examples/basic/plot_properties.py
.env/share/doc/networkx-3.0/examples/basic/plot_read_write.py
.env/share/doc/networkx-3.0/examples/basic/plot_simple_graph.py
.env/share/doc/networkx-3.0/examples/basic/README.txt
.env/share/doc/networkx-3.0/examples/drawing/chess_masters_WCC.pgn.bz2
.env/share/doc/networkx-3.0/examples/drawing/knuth_miles.txt.gz
.env/share/doc/networkx-3.0/examples/drawing/plot_center_node.py
.env/share/doc/networkx-3.0/examples/drawing/plot_chess_masters.py
.env/share/doc/networkx-3.0/examples/drawing/plot_custom_node_icons.py
.env/share/doc/networkx-3.0/examples/drawing/plot_degree.py
.env/share/doc/networkx-3.0/examples/drawing/plot_directed.py
.env/share/doc/networkx-3.0/examples/drawing/plot_edge_colormap.py
.env/share/doc/networkx-3.0/examples/drawing/plot_ego_graph.py
.env/share/doc/networkx-3.0/examples/drawing/plot_eigenvalues.py
.env/share/doc/networkx-3.0/examples/drawing/plot_four_grids.py
.env/share/doc/networkx-3.0/examples/drawing/plot_house_with_colors.py
.env/share/doc/networkx-3.0/examples/drawing/plot_knuth_miles.py
.env/share/doc/networkx-3.0/examples/drawing/plot_labels_and_colors.py
.env/share/doc/networkx-3.0/examples/drawing/plot_multipartite_graph.py
.env/share/doc/networkx-3.0/examples/drawing/plot_node_colormap.py
.env/share/doc/networkx-3.0/examples/drawing/plot_rainbow_coloring.py
.env/share/doc/networkx-3.0/examples/drawing/plot_random_geometric_graph.py
.env/share/doc/networkx-3.0/examples/drawing/plot_sampson.py
.env/share/doc/networkx-3.0/examples/drawing/plot_selfloops.py
.env/share/doc/networkx-3.0/examples/drawing/plot_simple_path.py
.env/share/doc/networkx-3.0/examples/drawing/plot_spectral_grid.py
.env/share/doc/networkx-3.0/examples/drawing/plot_tsp.py
.env/share/doc/networkx-3.0/examples/drawing/plot_unix_email.py
.env/share/doc/networkx-3.0/examples/drawing/plot_weighted_graph.py
.env/share/doc/networkx-3.0/examples/drawing/README.txt
.env/share/doc/networkx-3.0/examples/drawing/unix_email.mbox
.env/share/doc/networkx-3.0/examples/graph/plot_dag_layout.py
.env/share/doc/networkx-3.0/examples/graph/plot_degree_sequence.py
.env/share/doc/networkx-3.0/examples/graph/plot_erdos_renyi.py
.env/share/doc/networkx-3.0/examples/graph/plot_expected_degree_sequence.py
.env/share/doc/networkx-3.0/examples/graph/plot_football.py
.env/share/doc/networkx-3.0/examples/graph/plot_karate_club.py
.env/share/doc/networkx-3.0/examples/graph/plot_morse_trie.py
.env/share/doc/networkx-3.0/examples/graph/plot_napoleon_russian_campaign.py
.env/share/doc/networkx-3.0/examples/graph/plot_roget.py
.env/share/doc/networkx-3.0/examples/graph/plot_triad_types.py
.env/share/doc/networkx-3.0/examples/graph/plot_words.py
.env/share/doc/networkx-3.0/examples/graph/README.txt
.env/share/doc/networkx-3.0/examples/graph/roget_dat.txt.gz
.env/share/doc/networkx-3.0/examples/graph/words_dat.txt.gz
.env/share/doc/networkx-3.0/examples/subclass/plot_antigraph.py
.env/share/doc/networkx-3.0/examples/subclass/plot_printgraph.py
.env/share/doc/networkx-3.0/examples/subclass/README.txt
